<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-md-3">
      <p class="lead">Shop Name</p>

      <div class="list-group">
        <% @products.each do |category, products| %>
            <h3 class="list-group-item"><%= category.name %></h3>
        <% end %>
      </div>
    </div>

    <div class="col-md-9">

      <div class="row carousel-holder">

        <div class="col-md-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img class="slide-image" src="http://placehold.it/800x300" alt="">
              </div>
              <div class="item">
                <img class="slide-image" src="http://placehold.it/800x300" alt="">
              </div>
              <div class="item">
                <img class="slide-image" src="http://placehold.it/800x300" alt="">
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>

      </div>

      <div class="row">

        <% @products.each do |category, products| %>

            <% products.each do |product| %>

                <div class="col-sm-4 col-lg-4 col-md-4">
                  <div class="thumbnail">
                    <% if product.default_image.path.nil? %>
                        <%= image_tag 'http://placehold.it/320x150' %>
                    <% else %>
                        <%= image_tag product.default_image.path, size: "320x150" %>
                    <% end %>
                    <div class="caption">
                      <h4 class="pull-right"><%= number_to_currency product.price %></h4>
                      <h4><%= link_to product.name, product_path(product.permalink) %></h4>

                      <p><%= product.short_description %></p>
                    </div>
                    <div class="ratings">
                      <p class="pull-right">15 reviews</p>
                      <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                      </p>
                    </div>
                  </div>
                </div>


            <% end %>
        <% end %>




        <div class="col-sm-4 col-lg-4 col-md-4">
          <h4><a href="#">Like this template?</a>
          </h4>

          <p>If you like this template, then check out
            <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this
              tutorial</a> on how to build a working review system for your online store!</p>
          <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View
            Tutorial</a>
        </div>

      </div>

    </div>

  </div>

</div>
<!-- /.container -->

<div class="container">

  <hr>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright">&copy; © ООО «Фирма Ракурс» Тверь 2011-2015</span>
        </div>
        <div class="col-md-4">
          <!--ul class="list-inline social-buttons">
              <li><a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
          </ul-->
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li>Тверь, ул. Марины Расковой 4
            </li>
            <li> 8 (920) 690-88-63 , 8 (904) 007-99-48
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</div>